service: vampires-api

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  memorySize: 256
  timeout: 29
  environment:
    NODE_ENV: ${self:provider.stage}
    DB_HOST: ${env:DB_HOST, 'localhost'}
    DB_PORT: ${env:DB_PORT, '5432'}
    DB_USER: ${env:DB_USER, 'postgres'}
    DB_PASSWORD: ${env:DB_PASSWORD, ''}
    DB_NAME: ${env:DB_NAME, 'vampires'}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY, ''}
    BASE_URL: ${env:BASE_URL, ''}
    APP_BASE_URL: ${env:APP_BASE_URL, ''}

plugins:
  - serverless-offline

package:
  individually: true
  patterns:
    - '!node_modules/.cache/**'
    - '!test/**'
    - '!src/**'
    - 'dist/**'

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          path: /
          method: ANY
          cors: true
      - http:
          path: /{proxy+}
          method: ANY
          cors: true

custom:
  serverless-offline:
    httpPort: 3000
    lambdaPort: 3002

